<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Squid | Admin Dashboard</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-2 d-flex justify-content-between" style="border-bottom: 1px solid;">
        <!-- <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
            <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
        </a> -->
        <a href="#" class="sidebar-toggler d-lg-none flex-shrink-0">
            <i class="fa fa-bars"></i>
        </a>
        <form class="d-none d-md-flex">
            <input class="form-control bg-dark border-0" type="search" placeholder="Search">
        </form>
        <a><img src="../../../../public/img/logo.png" width="300px" /></a>
        <div class="navbar-nav align-items-center ">
            <!-- <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-envelope me-lg-2"></i>
                    <span class="d-none d-lg-inline-flex">Message</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <div class="ms-2">
                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                <small>15 minutes ago</small>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <div class="ms-2">
                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                <small>15 minutes ago</small>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <div class="ms-2">
                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                <small>15 minutes ago</small>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item text-center">See all message</a>
                </div>
            </div> -->
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-bell me-lg-2"></i>
                    <span class="d-none d-lg-inline-flex">Notificatin</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">Profile updated</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">New user added</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">Password changed</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item text-center">See all notifications</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img class="rounded-circle me-lg-2" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                    <span class="d-none d-lg-inline-flex">John Doe</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">My Profile</a>
                    <a href="#" class="dropdown-item">Settings</a>
                    <a href="#" class="dropdown-item">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <!-- <img src="../../../../../public/logo.png" /> -->
                <!-- <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Squid</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Jhon Doe</h6>
                        <span>Admin</span>
                    </div>
                </div> -->
                <div class="navbar-nav w-100">
                    <a href="index.html" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <div class="nav-item dropdown">
                        <a href="Users.html" class="nav-link"><i class="fa fa-users me-2"></i>Users</a>
                    </div>
                    <a href="livefeed.html" class="nav-item nav-link"><i class="fa fa-briefcase me-2"></i>Staff LiveFeed</a>
                    <a href="Vendors.html" class="nav-item nav-link"><i class="fa fa-store me-2"></i>Vendors</a>
                    <a href="Vendors.html" class="nav-item nav-link"><i class="fa fa-envelope-open-text me-2"></i>Mass Message</a>
                    <a href="Products.html" class="nav-item nav-link"><i class="fa fa-tags me-2"></i>Products</a>
                    <a href="Orders.html" class="nav-item nav-link"><i class="fa fa-gift me-2"></i>Orders  <span class="float-right badge bg-danger">842</span></a>
                    <a href="Messages.html" class="nav-item nav-link"><i class="fa fa-comments me-2"></i>Messages  <span class="float-right badge bg-danger">842</span></a>
                    <a href="Withdrawals.html" class="nav-item nav-link"><i class="fa fa-wallet me-2"></i>Withdrawals</a>
                    <a href="Bannedusers.html" class="nav-item nav-link"><i class="fa fa-list me-2"></i>Categories</a>
                    <a href="Bannedusers.html" class="nav-item nav-link"><i class="fa fa-check me-2"></i>Notices</a>
                    <a href="Bannedusers.html" class="nav-item nav-link"><i class="fa fa-wrench me-2"></i>Market Settings</a>
                    <a href="Othermarkets.html" class="nav-item nav-link"><i class="fa fa-store me-2"></i>Other Markets</a>
                    <a href="Disputes.html" class="nav-item nav-link"><i class="fa fa-flag me-2"></i>Disputes  <span class="float-right badge bg-danger">842</span></a>
                    <a href="Bannedusers.html" class="nav-item nav-link"><i class="fa fa-ban me-2"></i>Banned Users</a>
                    <a href="Supporttickets.html" class="nav-item nav-link"><i class="fa fa-headset me-2"></i>Help desk  <span class="float-right badge bg-danger">842</span></a>
                    <a href="reports.html" class="nav-item nav-link"><i class="fa fa-exclamation me-2"></i>Reports  <span class="float-right badge bg-danger">842</span></a>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->

        <!-- Content Start -->
        <div class="content">
            
            <!-- Market Statistics Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-users fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Users</p>
                                <h6 class="mb-0">5,321,234</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-store fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Market Vendors</p>
                                <h6 class="mb-0">51234</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-user-check fa-2x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">New Users - 24Hr</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-list-alt fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Products Listings</p>
                                <h6 class="mb-0">15,234</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sale & Revenue End -->

            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Sales</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today's Sale</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fas fa-wallet fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Funds in Escrow</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fas fa-money-bill-alt fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">24Hr Withdraws</p>
                                <h6 class="mb-0">$12534</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sale & Revenue End -->

            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Recent Salse</h6>
                        <a href="">Show All</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-white">
                                    <th scope="col">Date</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Vendor</th>
                                    <th scope="col">Buyer</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>01/01/22</td>
                                    <td>playstation 4 for sale available</td>
                                    <td>WeAreAmsterdam</td>
                                    <td>squidbuyer</td>
                                    <td>$123</td>
                                    <td>Paid</td>
                                    <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
                                </tr>
                                <tr>
                                    <td>01/01/22</td>
                                    <td>01 Jan 2045</td>
                                    <td>WeAreAmsterdam</td>
                                    <td>squidbuyer</td>
                                    <td>$123</td>
                                    <td>Confirming (0/10)...</td>
                                    <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
                                </tr>
                                <tr>
                                    <td>01/01/22</td>
                                    <td>01 Jan 2045</td>
                                    <td>WeAreAmsterdam</td>
                                    <td>squidbuyer</td>
                                    <td>$123</td>
                                    <td>Paid</td>
                                    <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
                                </tr>
                                <tr>
                                    <td>01/01/22</td>
                                    <td>01 Jan 2045</td>
                                    <td>WeAreAmsterdam</td>
                                    <td>squidbuyer</td>
                                    <td>$123</td>
                                    <td>Confirming (0/10)...</td>
                                    <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
                                </tr>
                                <tr>
                                    <td>01/01/22</td>
                                    <td>01 Jan 2045</td>
                                    <td>WeAreAmsterdam</td>
                                    <td>squidbuyer</td>
                                    <td>$123</td>
                                    <td>Confirming (0/10)...</td>
                                    <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Recent Sales End -->

            <!-- Widgets Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-secondary rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <h6 class="mb-0">Messages</h6>
                                <a href="">Show All</a>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">Jhon Doe</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Short message goes here...</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">Jhon Doe</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Short message goes here...</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">Jhon Doe</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Short message goes here...</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center pt-3">
                                <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">Jhon Doe</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Short message goes here...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-secondary rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <h6 class="mb-0">Recently Added Products</h6>
                                <a href="">Show All</a>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3" id="recent_added_product">
                                <img class="flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">Samsung TV</h6>
                                        <small style="background-color:yellow;">$1800</small>
                                    </div>
                                    <span>Samsung TV 32" 1080p 60Hz LED Smart...<span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3" id="recent_added_product">
                                <img class="flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">Bicycle</h6>
                                        <small style="background-color:skyblue;">$700</small>
                                    </div>
                                    <span>26" Mongoose Dolomite Men's 7-spec...<span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3" id="recent_added_product">
                                <img class="flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">Xbox One</h6>
                                        <small style="background-color:red;">$350</small>
                                    </div>
                                    <span>Xbox One Console Bundle with Halo M...<span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center pt-3" id="recent_added_product">
                                <img class="flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">PlayStation 4</h6>
                                        <small style="background-color:green;">$399</small>
                                    </div>
                                    <span>PlayStation 4 500GB Console (PS4)<span>
                                </div>
                            </div>
                            <div id="calender"></div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-secondary rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">To Do List</h6>
                                <a href="">Show All</a>
                            </div>
                            <div class="d-flex mb-2">
                                <input class="form-control bg-dark border-0" type="text" placeholder="Enter task">
                                <button type="button" class="btn btn-primary ms-2">Add</button>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <input class="form-check-input m-0" type="checkbox">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span>Short task goes here...</span>
                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <input class="form-check-input m-0" type="checkbox">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span>Short task goes here...</span>
                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <input class="form-check-input m-0" type="checkbox" checked>
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span><del>Short task goes here...</del></span>
                                        <button class="btn btn-sm text-primary"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <input class="form-check-input m-0" type="checkbox">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span>Short task goes here...</span>
                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center pt-2">
                                <input class="form-check-input m-0" type="checkbox">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span>Short task goes here...</span>
                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Widgets End -->

            <!-- Members Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-md-6 col-xl-6">
                        <div class="bg-secondary rounded p-4" style="height: 500px;">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Admin/Mod Messaging</h6>
                                <a href="">Show All</a>
                            </div>
                            <div class="chat_total">
                                <div class="chat_pan" style="height: 350px;overflow: auto;">
                                    <ol class="messanger-list">
                                        <li class="common-message is-time d-flex">
                                            <span class="common-message-content">Today</span>
                                        </li>
                                        <li class="common-message is-you">
                                            <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                            <div class="d-flex flex-column">
                                                <small datetime>14:11</small>
                                                <span class="common-message-content">
                                                    I will send now.
                                                    <span class="status"><i class="bi-check"></i></span>
                                                </span>
                                            </div>
                                        </li>
                                        <li class="common-message is-you">
                                            <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                            <div class="d-flex flex-column">
                                                <small datetime>14:11</small>
                                                <span class="common-message-content">
                                                    Okay I have done all of your requirements.
                                                    <span class="status is-seen"><i class="bi-check-all"></i></span>
                                                </span>
                                            </div>
                                        </li>
                                        <li class="common-message is-other">
                                            <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                            <div class="d-flex flex-column">
                                                <small datetime>14:11</small>
                                                <span class="common-message-content">
                                                    I asked you have done!
                                                    <span class="status is-seen"><i class="bi-check-all"></i></span>
                                                </span>
                                            </div>
                                        </li>
                                        <li class="common-message is-you">
                                            <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                            <div class="d-flex flex-column">
                                                <small datetime>14:11</small>
                                                <span class="common-message-content">
                                                    I'm here now.
                                                    <span class="status is-seen"><i class="bi-check-all"></i></span>
                                                </span>
                                            </div>
                                        </li>
                                        <li class="common-message is-other">
                                            <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                            <div class="d-flex flex-column">
                                                <small datetime>14:11</small>
                                                <span class="common-message-content">
                                                    I am fine. thank you. Have you done all of my requirements. This project is very urgent. Are you here?
                                                    <span class="status is-seen"><i class="bi-check-all"></i></span>
                                                </span>
                                            </div>
                                        </li>
                                        <li class="common-message is-you">
                                            <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                            <div class="d-flex flex-column">
                                                <small datetime>14:11</small>
                                                <span class="common-message-content">
                                                    How are you?
                                                    <span class="status is-seen"><i class="bi-check-all"></i></span>
                                                </span>
                                            </div>
                                        </li>
                                        <li class="common-message is-you">
                                            <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                            <div class="d-flex flex-column">
                                                <small datetime>14:11</small>
                                                <span class="common-message-content">
                                                    Hi
                                                    <span class="status is-seen"><i class="bi-check-all"></i></span>
                                                </span>
                                            </div>
                                        </li>
                                        
                                    </ol>
                                </div>
                                <div class="input-group px-4">
                                    <input class="form-control bg-dark border-0" type="text" placeholder="Type Message...">
                                    <button type="button" class="btn btn-warning">Send</button>
                                </div>
                            </div>
                            </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-6">
                        <div class="bg-secondary rounded p-4" style="height: 500px;overflow: auto;">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Latest Members - 24Hr</h6>
                                <small class="px-1" style="background-color: red;color:white;border-radius: 5px;font-weight: bold;">8 New Members</small>
                                <a href="">Show All</a>
                            </div>
                            <div class="d-flex flex-wrap">
                                <div class="d-flex flex-column align-items-center mx-2 my-1">
                                    <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 60px; height: 60px;">
                                    <span>Alexand...</span>
                                    <small>Today</small>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 my-1">
                                    <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 60px; height: 60px;">
                                    <span>Alexand...</span>
                                    <small>Today</small>
                                </div><div class="d-flex flex-column align-items-center mx-2 my-1">
                                    <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 60px; height: 60px;">
                                    <span>Alexand...</span>
                                    <small>Today</small>
                                </div><div class="d-flex flex-column align-items-center mx-2 my-1">
                                    <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 60px; height: 60px;">
                                    <span>Alexand...</span>
                                    <small>Today</small>
                                </div><div class="d-flex flex-column align-items-center mx-2 my-1">
                                    <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 60px; height: 60px;">
                                    <span>Alexand...</span>
                                    <small>Today</small>
                                </div><div class="d-flex flex-column align-items-center mx-2 my-1">
                                    <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 60px; height: 60px;">
                                    <span>Alexand...</span>
                                    <small>Today</small>
                                </div><div class="d-flex flex-column align-items-center mx-2 my-1">
                                    <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 60px; height: 60px;">
                                    <span>Alexand...</span>
                                    <small>Today</small>
                                </div><div class="d-flex flex-column align-items-center mx-2 my-1">
                                    <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 60px; height: 60px;">
                                    <span>Alexand...</span>
                                    <small>Today</small>
                                </div><div class="d-flex flex-column align-items-center mx-2 my-1">
                                    <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 60px; height: 60px;">
                                    <span>Alexand...</span>
                                    <small>Today</small>
                                </div><div class="d-flex flex-column align-items-center mx-2 my-1">
                                    <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 60px; height: 60px;">
                                    <span>Alexand...</span>
                                    <small>Today</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Members End -->

            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">Squid Market</a>, All Right Reserved. 
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a href="#">TeamSnow</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

</body>

</html>